body {
    background-color: #2c3e50;
}

nav {
    position: relative;
    float: left;
    width: 25%;
}

section {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 3px;
    background: #7070703d;
    width: 100%;
    font-size: 0.9rem;
    color: #fefefe;
}

.js-weather {
    position: absolute;
    right: 3%;
}

#content {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: table;
}

.weather {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.main_content {
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.js-clock {
}

h1 {
    font-size: 5rem;
    color: #fdfdfd;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.toDoList_container {
    width: 100%;
}

.js-toDoList {
    list-style: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

@media screen and (min-width: 600px) {
    nav {
        float: left;
        width: 25%;
    }
    section {

    }
}

@media screen and (min-width: 600px) {
    nav li{
        display: inline;

    }
    section {
        
    }
}